.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, black);
}

.title{
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 7px black;
    font-weight: 100;
    letter-spacing: 10px;
}

 .contImgs {
  display: flex;
  width: 800px;
  height: 500px;
  box-shadow: 0 0 20px white;
}

.contImgs img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 750ms ease;
}

.contImgs img:hover{
  cursor: crosshair;
  width: 80%;
  opacity: 1;
  filter: contrast(120%);
}


.button {
  text-transform: capitalize;
  background: silver;
  font-size: 28px;
  width: 120px;
  border: outset white 5px;
  border-radius: 50px;
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 1px white;
  position: absolute;
  left: 25px;
  top: 100px;
  width: 200px;
  padding: 0px;
}

.button:hover {
    background-color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
}


/*---------------Responsive Design------------*/
@media (max-width:600px) {
  .title{
    font-size: 60px;
  }  

  .button {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(50px);
  }

  .button:hover{
    transform: translateY(50px);
  }

  .contImgs {
    width: 300px;
    height: 300px;
  }

  .contImgs img {
    height: 300px;
  }

  .contImgs img:hover{
    width: 90%;
  }
}