.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, black);
}

.title{
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 7px black;
    font-weight: 100;
    letter-spacing: 10px;
}

.contImgs img {
    height: 400px;
    width: 100px;
    background-color: white;
    margin-left: 10px;
    opacity: 0.95;
    transition: all 1s;
}

.contImgs img:hover {
  transform: scale(1.02) translateY(-5px);
  opacity: 1;
}

.button {
  text-transform: capitalize;
  background: silver;
  font-size: 28px;
  width: 120px;
  border: outset white 5px;
  border-radius: 50px;
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 1px white;
  position: absolute;
  left: 25px;
  top: 100px;
  width: 200px;
  padding: 0px;
}

.button:hover {
    background-color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
}
