@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Indie Flower', cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(blueviolet, white);
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(blueviolet, white, #3737B8);
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
